@import url("../variables.css");

body {
    background-color: var(--color-background-secondary);
    display: flex;
    flex-direction: column;
    margin: 0;
}

body::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

main {
    #cursos__section {
        color: #939393;
        font-family: "Inter", sans-serif;
        min-height: 100vh;
        padding: 4rem;

        #foto__container {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        h3 {
            color: white;
            margin: 1rem 0 4rem 0;
            text-align: center;
            border-bottom: 2px white solid;
            padding-bottom: 1.5rem;
            font-size: 3rem;
        }

        #cursos__container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            max-height: 980px;
            gap: 2rem;
            justify-content: center;
            flex-wrap: wrap;
            margin: 0;
            padding: 0 1rem 8vh 1rem;

            .card {
                font-size: 0.6rem;
                border-radius: 0.7rem;
                display: flex;
                flex-direction: column;
                padding: 1.25rem 0.5rem;
                width: 310px;
                height: max-content;
                background:
                    linear-gradient(140deg,
                        var(--color-background-cards),
                        var(--color-background-cards)) padding-box,

                    linear-gradient(140deg,
                        var(--color-background-cards),
                        var(--color-background-cards),
                        var(--color-accent),
                        var(--color-background-primary),
                        var(--color-background-primary)) border-box;
                border: 0.5px solid transparent;

                a {
                    text-decoration: none;
                    color: hsl(254, 65%, 90%);
                }

                a:hover {
                    color: #9780e4;
                }

                .card__title {
                    font-size: 1.1rem;
                    text-align: center;
                    color: white;
                    margin: 0;
                    margin-bottom: 0.6rem;
                }

                .card__subtitle {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 0.7rem;
                    font-weight: 300;
                    margin: 0;
                    color: white;
                }

                .card__topics {
                    margin-top: 1.5rem;
                    padding-left: 1rem;
                    font-size: 0.75rem;
                    font-weight: 300;
                    line-height: 1.25rem;
                    margin-bottom: 0;

                    .topico__incompleto {
                        list-style-type: "";
                    }

                    a {
                        color: #939393;
                    }

                    a:hover {
                        color: hsl(254, 65%, 90%);
                    }
                }
            }
        }

    }

}









@media screen and (max-width: 500px) {

    main {
        #cursos__section {
            padding: 1rem;

            h3 {
                font-size: 1.8rem;
                margin: 4rem 0;
            }

            #cursos__container {
                flex-direction: row;
                max-height: max-content;

                .card {
                    width: 100%;
                }
            }
        }
    }
}