@import '../abstract/variables';

footer {
    display: grid;
    grid-template-columns: 10vh 10vh 10vh 10vh;
    justify-content: center;
    padding: 0.9rem;
    color: $color_primary;
    background-color: $color_background--menu;
    position: fixed;
    bottom: 0;
    width: 100vw;
    z-index: 2;
    transition: 1.8s;

    .item {
        margin-top: -2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 1rem;
        transition: 0.4s;

        .description {
            font-size: 0.6rem;
            margin-top: -1.8rem;
            margin-bottom: 0.8rem;
            display: none;
            color: $color_primary;
            text-decoration: none;
            transition: 0.4s;
            white-space: nowrap;
        }
    }

    .item:hover {
        .description {
            display: block;
        }

        transform: scale(1.7);
    }
}