@import '../abstract/variables';

main {
    margin: 5% 5% 10vh 5%;
    margin-top: 10%;
    box-sizing: border-box;

    h3 {
        font-size: 2.25rem;
        font-weight: 700;
        margin-bottom: 10vh;
    }

    .card {
        background-color: $color_block;
        border: 1px solid $color_accent;
        border-radius: 15px 40px 15px 40px;
        margin-bottom: 10vh;

        h4 {
            font-size: 1.25rem;
        }

        h4,
        p,
        ul,
        img {
            padding: 10px 15px;
        }

        ul {
            padding-left: 20px;
        }

        .description {
            font-size: 1rem;
            line-height: 1.25rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

        .swiper {
            width: auto;

            img {
                height: 200px;
                border-radius: 0px;
                opacity: 70%;
                padding: 0.3rem 0.3rem 0.3rem 0;
            }

            img:hover {
                opacity: 100%;
                transform: scale(1.04);
                transition: 0.2s;
            }

            .swiper-slide {
                width: auto;
                text-align: center;
                font-size: 18px;
                background: $color_block;
            }
        }

        .footer {
            display: flex;
            justify-content: space-between;

            .stacks {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 0.75rem;
                padding-top: 0.5rem;
                white-space: nowrap;

                .items {
                    font-size: 0.75rem;
                    line-height: 0.75rem;
                    padding: 4px 10px;
                    border-radius: 4px 12px 4px 12px;
                    border: 1px solid $color_secondary;
                }
            }

            .source {
                color: $color_secondary;

            }

            .source:hover {
                color: $color_primary;
            }
        }
    }

    .resume {
        height: 2rem;
        margin: 0 0 20vh 0;
        display: flex;
        justify-content: center;
        padding: 10px;

        .download_button {
            background-color: $color_accent;
            display: flex;
            align-items: center;
            padding: 0 3rem;
            border-radius: 8px;
            font-size: 0.9rem;
            color: $color_primary;
            text-decoration: none;
        }

        .download_button:hover {
            border: 2px solid $color_accent;
            cursor: pointer;
            background-color: transparent;
            color: $color_accent;
        }
    }
}