#menu { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
    background-color: hsl(0, 0%, 16%); 
    padding-left: 0.5rem;
    position: fixed;
    width: 1.5vw;
    height: 100vh;
    bottom: 0;
    z-index: 20;
    opacity: 85%;
}

.menu__item{
    display: grid;
    grid-template-columns: 30px auto;
    text-wrap: nowrap;
    gap: 1rem;
}

.menu__description{
    font-size: 0.8rem;
}

.menu__icone{ transition: 0.2s;}

.menu__description{ display: none; }


.menu__item:hover{
    .menu__description{ display: block; }
    .menu__icone{ transform: scale(1.4); }
}


@media screen and (max-width: 500px) {
    #menu{
        display: flex;
        flex-direction: row;
        padding-left: 0;
        align-items: center;
        width: 100vw;
        height: 3vh;
    }
    .menu__description{
        display: none;
    }

    .menu__item{
        display: flex;
        margin: 0 0 2rem 0;
    }

    .menu__item:hover{
        .menu__description{ display: none; }
        .menu__icone{ transform: none;}
    }
}