#top_left, #bottom_right{
    width: 20vw;
    height: 12vh;
    z-index: 1;
}

#top_left { 
    border-left: solid 2px #9780e4;
    border-top: solid 2px #9780e4;
    border-top-left-radius: 1rem;
}

#bottom_right { 
    border-right: solid 2px #9780e4;
    border-bottom: solid 2px #9780e4;
    align-self: flex-end;
    border-bottom-right-radius: 1rem;
    display: flex;
    justify-content: center;
}

#curriculo__container{
    display: flex;
    font-size: 0.8rem;
    padding-bottom: 1rem;
    align-items:flex-end;
    gap: 1rem;
}

#curriculo__container__rodape{
    display: none;
    justify-content: center;
    margin-bottom: 8rem;
    margin-top: -6rem;

    font-size: 0.8rem;
    gap: 1rem;
}


.curriculo_item{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #9780e4;
}
.curriculo_item:hover{
    color: hsl(254, 65%, 90%);
}


#titulo { 
    font-family: "Artifika", serif; 
    font-size: 5vw;
}

#subtitulo{
    font-size: 1.1rem;
    font-style: italic;
    font-weight: 400;
}

#foto__container{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    margin-top: -1rem;
}

#foto { 
    background: linear-gradient(white, white) padding-box, linear-gradient(to right, white, #9780e4) border-box; 
    border: 1.5px solid transparent;
    min-width: 150px;
    border-radius: 9999px;
    z-index: 10;
}

#topicos { 
    color: #939393; 
    border-left: solid 2px #9780e4;
    width: 45vw;
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    padding: 0.5rem 2rem;
    z-index: 40;
    line-height: 1.5rem;
}

#topico__item{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: circle;
}

#saiba_mais{
    color: #6969c9;
}

#section__principal{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    height: 100vh;
    width: 80vw;
}

#core{
    display: flex;
    justify-content: center;
    text-align: right;
    gap: 3rem;
    align-items: start;
    margin-top: 3vh;
}


@media screen and (max-width: 500px) {
    #titulo{
        margin-top: -1rem;
        font-size: 2.5rem;
    }

    #subtitulo{
        font-size: 1rem;
        margin-bottom: 3rem;
        margin-top: 0.2rem;
    }

    #topicos{
        align-self: center;
        font-size: 0.75rem;
        width: 70vw;
        margin: 3rem 0 0 0;
    }

    #section__principal{
        width: 90vw;
        padding-left: 0;
        height: 95vh;
        margin-top: -1vh;
    }

    #top_left{
        width: 25vw;
        height: 6vh;
    }
    #bottom_right{
        width: 25vw;
        height: 6vh;
    }

    #curriculo__container{
        display: none;
    }

    #curriculo__container__rodape{
        display: flex;
    }

    .curriculo_item:hover{
        color: #9780e4;
    }

    #core{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    #foto{
        margin-top: -2rem;
        width: 200px;
    }


}