.card{ 
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border-radius: 0.7rem;
    border: 2px solid transparent;
    background: linear-gradient(#292929, #292929) padding-box, radial-gradient(circle at top, #ddd5f6, #9780e4) border-box; 
    color: #939393;
    transition: 0.2s;
}

.card__cover{
    clip-path: polygon(0 0,100% 0, 100% 85%, 0 100%);
    border-radius: 0.6rem 0.6rem 0 0;
    opacity: 50%;
    width: 350px;
}

.card:hover{
    box-shadow: 0px 0px 15px hsl(0, 0%, 30%);
    transform: scale(1.02);
    
    .card__cover{
        clip-path: none;
    opacity: 100%;
    filter: saturate(100%);
    }
}

.stacks{
    display: flex;
    gap: 0.5rem;
    font-size: 0.65rem;
    height: 1rem;
    justify-content: center;
}

.stack__item {
    border: 1px solid #8d8d8d;
    text-wrap: nowrap;
    border-radius: 9999px;
    align-self: center;
    padding: 0.2rem 0.5rem;
}

.section__titulo{
    margin: 4rem 0;
    font-weight: 600;
    font-size: 1.5rem;
}

.projeto__nome { 
    color: white; 
    font-size: 1.25rem;
    font-weight: 700;
    height: 4rem;
    display: flex;
    align-items: center;
}

.projeto__descricao{
    text-align: justify;
    height: 7rem;
    font-size: 0.75rem;
    padding: 0 1.5rem;
    line-height: 1.1rem;
}

.card__repo{
    display: flex;
    height: 2.5rem;
    gap: 1rem;
    color:#9780e4;
}

#section__projetos{
    padding-left: 2vw;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-bottom: 8rem;
}

#projetos__container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 1rem;
    gap: 2.5rem;
}

.icone__repo{
    color:#9780e4
}



@media screen and (max-width: 500px) {

    .card{
        max-width: 300x;
    }

    .card:hover{
        box-shadow:none;
        transform: none;
        .card__cover{
            clip-path: polygon(0 0,100% 0, 100% 85%, 0 100%);
        }
    }
        
    .card__cover{
        
        opacity: 100%;
        filter: saturate(100%);
    }

    #section__projetos{
        padding-left: 0;
        margin-bottom: 0;
    }

    #projetos__container{
        margin:0;
    }

}