._card{ 
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border-radius: 0.7rem;
    border: 1.5px solid transparent;
    background: linear-gradient(#292929, #292929) padding-box, radial-gradient(circle at top, #ddd5f6, #9780e4) border-box; 
    color: #939393;
    transition: 0.2s;
}

._card__cover{
    clip-path: polygon(0 0,100% 0, 100% 85%, 0 100%);
    border-radius: 0.6rem 0.6rem 0 0;
    opacity: 50%;
}

._card:hover{
    box-shadow: 0px 0px 15px hsl(0, 0%, 25%);
    transform: scale(1.02);
    
    ._card__cover{
        clip-path: none;
    opacity: 100%;
    filter: saturate(100%);
    }
}

._stack__item {
    height: 1.2rem;
    border: 1px solid #8d8d8d;
}

h4 { color: white; }

#Projetos{
    padding-left: 2vw;
}

._card__repo{
    color: #9780e4;
}

@media screen and (max-width: 500px) {

    ._card{
        max-width: 100%;
    }

    ._card:hover{
        box-shadow:none;
        transform: none;
        ._card__cover{
            clip-path: polygon(0 0,100% 0, 100% 85%, 0 100%);
        }
    }
        
    ._card__cover{
        
        opacity: 100%;
        filter: saturate(100%);
    }

    #Projetos{
        padding-left: 0;
    }

}