._card{ 
    background: linear-gradient(#292929, #292929) padding-box, linear-gradient(to left, #ddd5f6, #9780e4) border-box; 
    width: 350px;
    border: 1.5px solid transparent;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 0.7rem;
    transition: 0.2s;
    align-items: center;
    color: #939393;
    min-width: 300px;
}

._card__cover{
    clip-path: polygon(0 0,100% 0, 100% 85%, 0 100%);
    border-radius: 0.6rem 0.6rem 0 0;
    max-height: 195px;
    width: 100%;
    opacity: 50%;
}

._card:hover{
    box-shadow: 0px 0px 15px hsl(0, 0%, 40%);
    transform: scale(1.02);
    
    ._card__cover{
    opacity: 100%;
    filter: saturate(100%);
    }
}

._stack__item {
    height: 1.2rem;
    border: 1px solid #8d8d8d;
}

h4 { color: white; }

#Projetos{
    padding-left: 2vw;
}

@media screen and (max-width: 500px) {

    ._card{
        width: auto;
    }

    ._card:hover{
        box-shadow:none;
        transform: none;
    }
        
    ._card__cover{
        opacity: 100%;
        filter: saturate(100%);
    }

    #Projetos{
        padding-left: 0;
    }

}