#button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.2rem 1rem;
    background: #6969c9;
    border: 2px solid transparent;
    border-radius: 0.5rem;
    width: 17rem;
    align-self: center;
    color: black;
    font-size: 0.9rem;
}

#section__rodape{
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin-bottom: 8rem;
    align-items: center;
    padding-left: 2vw;
}

#button:hover {
    background: hsl(240, 47%, 68%);
}

@media screen and (max-width: 500px) {
    #section__rodape{
        padding-left: 0;
    }
    #button:hover{
        background: #6969c9;
    }
}