@import url(./components/menu.css);
@import url(./components/principal.css);
@import url(./components/projetos.css);
@import url(./components/rodape.css);



:root{ --color-background: #1a1a1a; }



body { 
    background: var(--color-background);
    font-family: 'Montserrat', sans-serif; 
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20vh;
}

body::-webkit-scrollbar{
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}




@media screen and (max-width: 1000px) {

    #titulo{
        font-size: 8vw;
    }

    #subtitulo{
        margin-top: 0rem;
    }
    #titulo_container{
        margin-top: 0;
        flex-direction: column;
    }
    #foto{
        margin-top: -2rem;
    }
    #tituloesub{
        text-align: center;
    }
    #core{
        flex-direction: column;
    }
}
