header {
    width: 100vw;
    height: 100vh;
    z-index: 10;

    #header__content {
        width: 100%;
        position: fixed;
        display: flex;

        #languages__selector {
            display: flex;
            gap: 1rem;
            padding: 2rem;
            width: 100%;
            justify-content: flex-end;

            .language__item {
                display: flex;
                flex-direction: column;
                align-items: center;
                cursor: pointer;
                width: 36px;

                .language__flag {
                    width: 32px;
                    height: 32px;
                    transition: 0.7s;
                    padding-bottom: 0.5rem;
                    border-bottom: solid 2px transparent;

                }

                .language__description {
                    color: var(--color-text-emphasy);
                    font-size: 0.7rem;
                    font-weight: 400;
                    display: none;
                }
            }

            .language__item:hover {
                .language__description {
                    display: flex;
                }

                .language__flag {
                    transform: translate(0, -10px);
                }
            }

        }
    }

}

@media screen and (max-width: 500px) {
    header {
        #header__content {

            #languages__selector {

                .language__item:hover {
                    .language__description {
                        display: none;
                    }

                    .language__flag {
                        transform: scale(1);
                    }
                }
            }
        }
    }
}