#certificates-title{
    text-align: right
}

#certificates-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 70vw;
    margin: auto 0;
    align-self: center;
    gap: 7rem;
    display: flex;
    flex-wrap: wrap;
    column-gap: 5rem;
}

.academic {
    align-self: center;
    box-sizing: border-box;
    width: 50%;
    border-bottom: solid 1px var(--color-accent);
    border-left: solid 1px var(--color-accent);
    border-radius: 20px;
    display: flex;
    gap: 2vw;
    padding: 1rem;
    margin: 0 25%;
    font-size: 1.4rem;
    line-height: 2rem;
    text-align: center;
}

.academic .icon{
    width: 20%;
    text-align: right;
}
.academic .icon img{
    width: 70px;
}

.academic .content{
    text-align: start;
    width: 80%;
    display: flex;
    flex-direction: column;
}
.academic .content .title{
    font-family: Ubuntu;
    font-size: 1.6rem;
    color: white;
}
.academic .content .description{
    font-size: 1rem;
    line-height: 1.4rem;
}

.certificate {
    width: 610px;
    border-right: solid 1px var(--color-accent);
    border-bottom: solid 1px var(--color-accent);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    box-sizing: border-box;
    gap: 0.6rem;
}

.certificate .title{
    color: white;
    font-family: ubuntu;
    text-align: center;
    font-size: 1.4rem;
    padding-bottom: 0.5rem;
}

.certificate .content{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 1rem;
    align-items: center;
}
.certificate-item ul{
    list-style: disc;
    line-height: 0;
}

.certificate-item li{
    color: #B4B4B4;
    font-size: 1rem;
    line-height: 1.2rem;
    padding-top: 1rem;
    
}

.date{
    color: var(--color-text-normal);
    font-style: italic;
    font-size: 0.8rem;
    line-height: 1.2rem;
}

.fiap-certificate-logo{
    position: absolute;
    right: 5%;
    bottom: 15%;
    width: 120px;
}

.certificate-more{
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 1.5rem 0;
    text-align: center;
}
.certificate-footer{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2.5rem;
}
.certificate-footer img{
    height: 20px;
}


@media screen and (max-width: 500px) {

    #certificates-section {
        padding-bottom: 5vh;


        #certificates-title {
            margin: 4rem 5vw 4rem 5vw;
            font-weight: 600;
            font-size: 1.2rem;
        }



        #certificates-container {
            width: 85vw;
            padding-top: 5vh;
            gap: 5rem;



            .academic{
                width: 100%;
                margin: 0;
                border-left: none;
                border-top: solid 1px var(--color-accent);
                flex-direction: column;
                align-items: center;
                padding: 1rem 0;
                gap: 0;
            }
            .academic .icon{
                width: 100%;
                text-align: center;
            }
            .academic .content{
                width: 95%;
            }
            .academic .content .title{
                font-family: Ubuntu;
                text-align: center;
                font-size: 1.6rem;
                color: white;
                padding-bottom: 1rem;
            }
            .academic .content .description{
                text-align: center;
                font-size: 0.9rem;
                line-height: 1.2rem;
                padding-bottom: 0.3rem;
            }



            .certificate {
                border-right: none;
                border-top: solid 1px var(--color-accent);
                width: 100%;
            }

            .certificate .content{
                position: static;
            }

            .fiap-certificate-logo{
                position: static;
                width: 100px;
                align-self: center;
                padding-top: 1rem;
            }

            .certificate-footer{
                gap: 1rem;
            }

            
        }
    }
}