#certificates-title{
    text-align: right
}

#certificates-container {
    width: 50vw;
    display: flex;
    flex-wrap: wrap;
    column-gap: 3vw;
    padding: 5vh 0;
}

.card__certificacao {
    width: 500px;
    border-bottom: solid 1px var(--color-accent);
    background-color: var(--color-background-cards);
    border-radius: 20px;
    display: flex;
    padding: 50px 20px 10px 20px;
    box-sizing: border-box;
    justify-content: center;
    gap: 1.5rem;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}

.left p {
    font-size: 0.6rem;
    color: #a18a3f;
    font-style: italic;
    text-wrap: nowrap;
}

.left img {
    width: 60px;
}


.right {
    display: flex;
    flex-direction: column;
}

.right h3 {
    margin-bottom: 1.2rem;
    font-size: 1.1rem;
    color: var(--color-text-emphasy);
    line-height: 1.5rem;
}

.right a:hover {
    color: var(--color-link-hover);
}

.right p {
    font-size: 0.8rem;
    line-height: 1.3rem;
    color: var(--color-text-normal);
}

.download {
    text-align: right;
}

.download a {
    color: var(--color-link);
    margin-top: 0.5rem;
    font-size: 2rem;
    cursor: pointer;
}

.download a:hover {
    color: var(--color-link-hover);
}
            
.card__demais__certificacoes {
    align-self: center;
    box-sizing: border-box;
    width: 50%;
    border-bottom: solid 1px var(--color-accent);
    background-color: var(--color-background-cards);
    border-radius: 20px;
    margin: 0 20vw 8vh 20vw;
    display: flex;
    padding: 2rem 1rem;
    font-size: 1.4rem;
    line-height: 2rem;
    text-align: center;
}



@media screen and (max-width: 500px) {

    #certificates-section {
        padding-bottom: 5vh;


        #certificates-title {
            margin: 4rem 5vw 4rem 5vw;
            font-weight: 600;
            font-size: 1.2rem;
        }

        #certificates-container {
            width: 80vw;

            .card__certificacao {
                padding: 10px 20px;
                flex-direction: column;
            }

        }

        .card__demais__certificacoes {
            width: 80vw;
            margin: 0 20%;
            font-size: 1rem;
            line-height: unset;
        }
    }
}