.cover {
    margin: 5% 5%;
    box-sizing: border-box;
}

.topleft {
    height: 20vh;
    width: 20%;
    border: 25px solid transparent;
    border-color: var(--color_accent) transparent transparent var(--color_accent);
    border-top-left-radius: 15px;
}

.core {
    display: flex;
    justify-content: center;
    gap: 10%;
    margin-top: -3%;
}

.left {
    font-family: 'Montserrat';
    color: #FFFFFF;
    width: 50%;
    height: 10rem;
}

.title {
    font-size: 6.5rem;
    line-height: 6.5rem;
    text-align: right;
}

.subtitle {
    line-height: 2rem;
    text-align: right;
    color: var(--color_secondary);
    margin-right: 0.25rem;
    ;
}

.topics {
    margin: 15% 0 0 -10%;
    font-size: 1.2rem;
    border-style: solid;
    border-color: transparent;
    border-left-color: var(--color_accent);
    border-width: 8px;
    padding-left: 10px;
}

.topics p {
    line-height: 2.5rem;
}

.bullet {
    font-family: 'Ubuntu Condensed';
    font-size: 0.8rem;
}

.right img {
    border: 2px solid transparent;
    border-radius: 50rem;
    background: linear-gradient(white, white) padding-box, linear-gradient(to right, var(--color_primary), var(--color_accent)) border-box;
}

.bottonright {
    display: flex;
    justify-content: right;
    margin-left: auto;
    margin-top: 0%;
    height: 20vh;
    width: 20%;
    border-style: solid;
    border-color: transparent var(--color_accent) var(--color_accent)transparent;
    border-width: 25px;
    border-bottom-right-radius: 15px;
}