footer {
    display: flex;
    justify-content: center;
    gap: 5%;
    padding: 2%;
    color: var(--color_strong);
    box-sizing: border-box;
    margin: 0 3%;
}

.footer__item {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    vertical-align: bottom;
    line-height: 2.25rem;
}

.footer__item__link {
    color: var(--color_strong);
    text-decoration: none;
}

.footer__item__link:hover {
    text-decoration: underline;
    color: var(--color_accent);
}