@import url("./variables.css");

@import url("./_home/header.css");
@import url("./_home/menu.css");
@import url("./_home/modal.css");
@import url("./_home/sec-about.css");
@import url("./_home/sec-technologies.css");
@import url("./_home/sec-certificates.css");
@import url("./_home/sec-portfolio.css");
@import url("./_home/footer.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


::-webkit-scrollbar {
    width: 5px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

::-webkit-scrollbar-thumb {
    background: #FFFFFF;
    border-radius: 5px;
}

html {
    font-family: "Inter", sans-serif;
    color: var(--color-text-normal);
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    font-size: 1rem;
    background-color: black;
}

.link {
    text-decoration: none;
    color: var(--color-link);
    cursor: pointer;
    align-items: center;
}

.link:hover{
    color: var(--color-link-hover);
}

.section-title {
    font-family: "Poppins", sans-serif;
    font-size: 5rem;
    font-weight: 600;
    color: var(--color-text-emphasy);
    margin: 4rem 1.5rem 1rem 4.5rem;
    border-bottom: 2px white solid;
    padding-bottom: 3rem; 
}

.section-subtitle{
    font-size: 2.5rem;
    line-height: 3rem;
    color: var(--color-text-emphasy);
    margin: 0 1.5rem 0 4.5rem;
    box-sizing: border-box;
}

.text-right{
    text-align: right;
}

body {
    background-image: url(/assets/images/bg.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow-x: hidden;
}

.display-none {
    display: none !important;
}

.display-flex {
    display: flex !important;
}

#home_main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 20;
    border-top: 5px solid red;
    border-bottom: 5px solid red;
    background-color: var(--color-background-primary);
    font-size: 1.4rem;
    line-height: 1.5rem;
}

.home_section {
    padding: 5vh 0 0 0;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    z-index: 10;
}

@media screen and (max-width: 500px) {

    body {
        background-image: url(/assets/images/bg-mobile.png);
        background-position-x: 40%;
    }

    .section-title {
        padding-bottom: 1rem; 
        margin: 0 5vw;
        font-size: 2rem;
        margin: 4rem 5vw 1rem 5vw;
        text-align: center;
    }

    .section-subtitle{
        font-size: 1.10rem;
        line-height: 1.5rem;
        color: var(--color-text-emphasy);
        margin: 0 5vw 10vw 5vw;
        box-sizing: border-box;
        text-align: center;
    }
    
}