.projects {
    margin: 5% 5% 15vh 5%;
    margin-top: 10%;
    box-sizing: border-box;
}

.card {
    background-color: var(--color_block);
    border: 2px solid var(--color_accent);;
    border-radius: 15px 40px 15px 40px;
    margin-bottom: 10vh;
}

.card h4, p, ul, img {
    padding: 10px;
}

.card ul {
    padding-left: 20px;
}

.card__footer {
    display: flex;
    justify-content: space-between;
}

.card__description {
    font-size: 1rem;
    line-height: 1.25rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.swiper {
    width: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: var(--color_block);
  }
  
  /* this is the important part */
.swiper .swiper-slide {
    width: auto;
}

.swiper img {
    height: 200px;
    border-radius: 0px;
    opacity: 70%;
    padding: 0.3rem 0.3rem 0.3rem 0;
}

.swiper img:hover {
    opacity: 100%;
    transform: scale(1.04);
    transition: 0.2s;
}

.card__stacks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.75rem;
    padding-top: 0.5rem;
    white-space: nowrap;
}

.card__stacks__items {
    font-size: 0.75rem;
    line-height: 0.75rem;
    color: var(--color_secondary);
    padding: 4px 10px;
    border-radius: 4px 12px 4px 12px;
    border: 1px solid var(--color_secondary);
}