.projects {
    margin: 3%;
    margin-top: 10%;
    padding: 3%;
    min-height: 85vh;
    box-sizing: border-box;
}

.project {
    background-color: var(--color_block);
    box-shadow: 0px 0px 5px 2px var(--color_accent); 
    padding: 20px;
    border-radius: 15px 40px 15px 40px;
    margin: 8% 5%;
}

.project__footer {
    display: flex;
    justify-content: space-between;
}

.project__description {
    font-size: 1em;
    line-height: 1.25em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.swiper {
    width: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: var(--color_block);
  }
  
  /* this is the important part */
.swiper .swiper-slide {
    width: auto;
  }

.swiper img {
    filter: saturate(0%);
    height: 250px;
    border-radius: 5px;
    opacity: 90%;
}

.swiper img:hover {
    filter: saturate(100%);
    opacity: 100%;
}

.project__stacks {
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
    padding-top: 0.5em;
}

.project__stacks__items {
    font-size: 0.75em;
    line-height: 0.75em;
    padding-top: 0.5em;
}