.projects {
    margin: 5%;
    margin-top: 10%;
    box-sizing: border-box;
}

.project h4, p, ul, img {
    padding: 10px
}

.project ul {
    padding-left: 20px;
}

.project {
    background-color: var(--color_block);
    border: 2px solid var(--color_accent);;
    /* box-shadow: 0px 0px 5px 2px var(--color_accent);  */
    border-radius: 15px 60px 15px 40px;
    margin: 5% 0 10% 0;
}

.project__footer {
    display: flex;
    justify-content: space-between;
}

.project__description {
    font-size: 1rem;
    line-height: 1.25rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.swiper {
    width: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: var(--color_block);
  }
  
  /* this is the important part */
.swiper .swiper-slide {
    width: auto;
  }

.swiper img {
    height: 200px;
    border-radius: 0px;
    opacity: 70%;
    padding: 0.3rem 0.3rem 0.3rem 0;
}

.swiper img:hover {
    opacity: 100%;
    transform: scale(1.04);
    transition: 0.2s;
}

.project__stacks {
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
    padding-top: 0.5rem;
}

.project__stacks__items {
    font-size: 0.75rem;
    line-height: 0.75rem;
}