:root {
    
    --color-base: #9a81e4;

    --color-base-accent-H: 255;
    --color-base-accent-S: 65%;
    --color-base-accent-L: 70%;
    --color-base-black-HS: 0, 0%;

    --color-accent: hsl(var(--color-base-accent-H),var(--color-base-accent-S),var(--color-base-accent-L));
    --color-background-menu: hsl(var(--color-base-accent-H),var(--color-base-accent-S), 15%);
    --color-background-primary: hsl(var(--color-base-black-HS), 0%);
    --color-background-secondary: hsl(var(--color-base-black-HS), 5%);
    --color-background-cards: hsl(var(--color-base-black-HS), 13%);
    --color-border: hsl(var(--color-base-black-HS), 27%);
    
    --color-text-emphasy: #FFF;
    --color-text-normal: hsl(var(--color-base-black-HS), 60%);
    --color-link: hsl(var(--color-base-accent-H),var(--color-base-accent-S), 85%);
    --color-link-hover: var(--color-accent);

    --swiper-pagination-bullet-inactive-color: var(--color-link);
    --swiper-pagination-color: var(var(--color-accent));
    --swiper-pagination-bullet-horizontal-gap: 8px;
}

::-webkit-scrollbar {
    width: 5px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

::-webkit-scrollbar-track {
    background: var(--color-background-menu);
}

::-webkit-scrollbar-thumb {
    background: #FFFFFF;
    border-radius: 5px;
}