:root {
    --color-background-primary: #000;
    --color-background-secondary: #222;
    --color-border: #444;
    --color-accent: #9780e4;
    --color-text-emphasy: #FFF;
    --color-text-normal: #939393;
    --color-link-hover: #9780e4;
    --color-link: #ddd5f6;

    font-family: 'Montserrat', sans-serif;
}