@import url("root.css");

@media screen and (max-width: 500px) {

    body {
        background-image: url(../images/bg-mobile.png);
        background-position-x: 40%;
    }

    nav {
        display: flex;
        flex-direction: row;
        padding-left: 0;
        bottom: 3px;
        position: fixed;
        align-items: center;
        width: 100vw;
        height: 3vh;

        .menu__description {
            display: none;
        }

        .menu__item {
            display: flex;
            margin: 0 0 2rem 0;
        }

        .menu__item:hover {
            .menu__description {
                display: none;
            }

            .menu__icone {
                transform: none;
            }
        }
    }

    header {
        #header__content {

            #languages__selector {

                .language__item:hover {
                    .language__description {
                        display: none;
                    }

                    .language__flag {
                        transform: scale(1);
                    }
                }
            }
        }
    }



    main {
        #about-section {
            padding-bottom: 8vh;
            font-size: 1rem;
            line-height: 1.5rem;

            #about-title {
                margin: 4rem 5vw 4rem 5vw;
                font-weight: 600;
                font-size: 1.2rem;
            }

            #about-container {
                padding: 0.5rem 3rem;

                #about-topics {
                    text-wrap: wrap;
                    display: flex;
                    flex-direction: column;
                    gap: 1.5rem;
                    text-align: justify;
                }

                #about-more {
                    display: flex;
                    margin-top: 2rem;
                    padding-top: 0.5rem;
                }
            }
        }

        #technologies-section {
            #technologies-title {
                margin: 2rem 5vw 4rem 5vw;
                font-weight: 600;
                font-size: 1.2rem;
            }

            #technologies-container {
                padding: 10vh 8vw;
            }
        }

        #certificates-section {
            padding-bottom: 5vh;

            #certificates-title {
                margin: 2rem 5vw 4rem 5vw;
                font-weight: 600;
                font-size: 1.2rem;
            }

            #certificacoes__container {
                flex-direction: column;

                .card__certificacao {
                    padding: 50px 10px 10px 10px;

                    .left {
                        img {
                            width: 50px;
                        }
                    }

                    .right {
                        h3 {
                            font-size: 1rem;
                        }
                    }
                }
            }

            .card__demais__certificacoes {
                margin: 0 20px 0 20px;
            }
        }

        #portfolio-section {
            padding-bottom: 8vh;

            #portfolio-title {
                margin: 4rem 5vw 4rem 5vw;
                font-weight: 600;
                font-size: 1.2rem;
            }

            #portfolio-container {
                .swiper {
                    .swiper-pagination-bullet {
                        width: 20px;
                        height: 20px;
                    }

                    .swiper-wrapper {
                        .swiper-slide {
                            width: 360px;
                            padding: 0 50px;
                        }
                    }
                }

                .card {
                    .card__cover {
                        opacity: 80%
                    }

                    .projeto__nome {
                        color: white;
                    }
                }

                .card:hover {
                    transform: none;
                }
            }
        }


    }

    footer {
        height: 30vh;
        width: 100vw;

        #desktop-footer-section {
            display: none;

            .footer__container {
                display: none;
            }
        }

        #mobile-footer-section {
            display: none;
            justify-content: center;
            align-items: center;
            z-index: 10;
            position: fixed;
            width: 100%;
            bottom: 0;

            #footer__mobile__container {
                height: 35vh;
                width: 100vw;
                display: flex;
                justify-content: space-evenly;
                align-items: center;

                #mobile-footer__resume-link{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: var(--color-link);
                    font-size: 0.9rem;
                    gap: 0.3rem;
                }
                
            }
        }
    }
}