@import url('reset.css');
@import url('cover.css');
@import url('footer.css');
@import url('projects.css');
@import url('download.css');
@import url('modal.css');

:root {
    --color_block: #202038;
    --color_primary: #F0F0F0;
    --color_secondary: #787878;
    /* --reference-color: hsl(240, 47%, 60%); */
    --color-accent-h: 240;
    --color-accent-s: 47%;
    --color-accent-l: 60%;
    --color_backneutral: #000000;
    --color_accent: hsl(var(--color-accent-h), var(--color-accent-s), var(--color-accent-l));
    --color_backaccent: hsl(var(--color-accent-h), var(--color-accent-s), 15%);
    --color_background: linear-gradient(90deg, var(--color_backaccent), var(--color_backneutral) 40%);
    --color_background--menu: hsl(var(--color-accent-h), var(--color-accent-s), 20%, 70%);
}

body {
    background: var(--color_background);
    background-repeat:no-repeat;
    font-family: 'Montserrat', sans-serif;
    color: var(--color_secondary);
    font-weight: 400;
}

.small {
    color: var(--color_secondary);
    font-size: 0.80rem;
    line-height: 1.2rem;
}

h1 {
    font-family: 'Artifika', serif;
    font-size: 6rem;
}

h2 {
    font-size: 1.5rem;
    font-style: italic;
    line-height: 1.5rem;
}

h3 {
    font-size: 2.25rem;
    font-weight: 700;
    margin-bottom: 10vh;
}

h4 {
    font-size: 1.25rem;
}

h1,
h2,
h3,
h4 {
    color: var(--color_primary);
}

p {

    text-align: justify;
}

ul {
    list-style: none;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  margin: 0 0.25rem;
}