@import url("root.css");

@media screen and (max-width: 500px) {

    body::after {
        background-size: cover;
        left: -80%;
        opacity: 25%;
    }

    nav{
        display: flex;
        flex-direction: row;
        padding-left: 0;
        align-items: center;
        width: 100vw;
        height: 3vh;
        
        .menu__description{
            display: none;
        }
    
        .menu__item{
            display: flex;
            margin: 0 0 2rem 0;
        }
    
        .menu__item:hover{
            .menu__description{ display: none; }
            .menu__icone{ transform: none;}
        }
    }

    header{
        width: 90vw;
        padding: 0;
        height: 100vh;

        #section__principal{
            width: 86%;
            height: 80vh;
            left: 7%;
            right: 7%;

            #top_left{
                position: absolute;
                top: 0;
                width: 45vw;
                height: 6vh;
                border-top: 2px solid transparent;
                border-left: 2px solid transparent;
            }

            
            
            #core{
                flex-direction: column;
                text-align: center;
                width: 90%;
                margin: 0;
                gap: 3rem;
                margin-top: -2rem;


                #titulo{
                    font-size: 2.7rem;
                    text-wrap: nowrap;
                }
        
                #subtitulo{
                    font-size: 1.1rem;
                    margin-bottom: 1rem;
                    margin-top: 1rem;
                }
                
            }

            #topicos{
                align-self: center;
                font-size: 0.89rem;
                width: 80%;
                top: 40%;
                margin-left: -1.5rem;
                border-left: 1px solid transparent;
                

                #topico__item{
                    text-wrap: wrap;
                    font-size: 01rem;
                    text-align: justify;
                    gap: 3vh;
                }
                
                
            }

            #bottom_right{
                position: absolute;
                bottom: 0;
                margin-bottom: 2vh;
                width: 45vw;
                height: 6vh;
                border-bottom: 2px solid transparent;
                border-right: 2px solid transparent;
                
                #curriculo__container{
                    display: none;
                }
            }

        }
    }

    main{
        #section__projetos {

            .section__projetos__titulo{
                margin: 4rem 5vw 4rem 5vw;
                font-weight: 600;
                font-size: 1.2rem;
            }

            #projetos__container{
                .card{ 
                    .card__cover { 
                        opacity: 80% 
                    }
                    .projeto__nome{
                        color: white;
                    } 
                }
                .card:hover {
                    transform: none;
                }
            }
        }

        #section__tecnologias {
            .section__tecnologias__titulo{
                margin: 2rem 5vw 4rem 5vw;
                font-weight: 600;
                font-size: 1.2rem;
            }
        }

        #section__certificacoes{
            padding-bottom: 5vh;

            .section__certificacoes__titulo{
                margin: 2rem 5vw 4rem 5vw;
                font-weight: 600;
                font-size: 1.2rem;
            }

            #certificacoes__container {
                flex-direction: column;
                .card__certificacao{
                    padding: 50px 10px 10px 10px;
                    .left{
                        img{
                            width: 50px;
                        }
                    }
                    .right{
                        h3 {
                            font-size: 1rem;
                        }
                    }
                }
            }

            .card__demais__certificacoes{
                margin: 0 20px 0 20px;
            }
        }

        #footer__curriculo{
            width: 100%;
            height: 10vh;
            background-color: var(--color-background-primary);
            z-index: 3;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            padding: 1vh 0 10vh 0;

            a { color: var(--color-link) }

            .curriculo_item{
                display: flex;
                align-items: center;
                font-size: 0.9rem;
                
            }
        }
    }
    
    
}