@import url('reset.css');
@import url('cover.css');
@import url('about.css');
@import url('footer.css');
@import url('projects.css');

:root {
    --color_background: #0A0A0A;
    --color_block: #252329;
    --color_strong: #FFFFFF;
    --color_normal: #787878;
    --color_hover: #8D77BB;
    --color_shadow: #6c6c6c;
}

body {
    background-color: var(--color_background);
    font-family: 'Montserrat', sans-serif;
    color: var(--color_normal);
    font-weight: 400;
    font-size: 1em;
}

.small {
    color: var(--color_normal);
    font-size: 0.80rem;
    line-height: 1.2rem;
}

.subtitle {
    color: var(--color_strong);
    text-decoration: none;
}

h1, h2, h3, h4 {
    color: var(--color_strong);
}

h1 {
    font-size: 3.5em;
    font-weight: 700;
    line-height: 6rem;
}

h2 {
    font-size: 1.25em;
    font-weight: 700;
    line-height: 1.75rem;
}

h3 {
    font-size: 2.25em;
    font-weight: 700;
}

h4 {
    font-size: 1.25em;
}

p {
    line-height: 2rem;
    text-align: justify;
}

ul {
    list-style: none;
}