
:root{ --color-background: #1a1a1a; }

body { 
    background: var(--color-background);
    font-family: 'Montserrat', sans-serif; 
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20vh;
}

body::-webkit-scrollbar{
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}